.odd {
background-color: rgb(231, 139, 139);
font-family: Verdana, "DejaVu Sans", sans-serif;
}

#one {
color: rgb(0, 0, 255);
font-size: 36px;
}

.font-size {
font-size: 24px;
}

#another {
background-color: rgb(101, 219, 107);
font-weight: bold;
}
