body {
  font-family: Arial, Helvetica, sans-serif;
}

.para,
.text {
  font-size: 22px;
}

.button {
  font-size: 20px;
}

.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 

.cancel {
  background-color: white;
}

.para,
.small-para,
.child {
  font-weight: 800;
}

.small-para,
.child {
  font-size: 14px;
}
